body {
    background-color: white;
}

h1 {
    color: white;
    font-family: 'Raleway', sans-serif;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    text-align: center;
}

h2 {
	color: rgb(133,207,189);
    font-family: 'Raleway', sans-serif;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
    text-align: center;
}

p {
	color: rgb(133,207,189);
    font-family: 'Raleway', sans-serif;
    padding: 10px 50px;
	text-align: center;
}

.header {
	background-color: rgb(133,207,189);
}

.slider {
    margin: 10px auto;
    width: 80%;
}

.slick-slide {
    color: rgb(133,207,189);
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    margin: 0px 20px;
    text-align: center;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: rgb(133,207,189) !important;
    font-family: 'Raleway', sans-serif !important;
    font-size: 50px !important;

}