body, html {
    background-color: white;
    padding: 0px;
    margin: 0px;
}

h1 {
    color: white;
    font-family: 'Raleway', sans-serif;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    text-align: center;
}

h2 {
	color: rgb(0, 153, 153);
    font-family: 'Raleway', sans-serif;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
    text-align: center;
}

p {
	color: rgb(0, 156, 156);
    font-family: 'Raleway', sans-serif;
    padding: 10px 50px;
	text-align: center;
}

.header {
	background-color: rgb(133,207,189);
}

.footer {
    background-color: rgb(133,207,189);
}

.slider {
    margin: 30px auto;
    width: 80%;
}

.slick-slide {
    color: grey;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-style: italic;
    margin: 0px 20px;
    text-align: center;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: rgb(133,207,189) !important;
    font-family: 'Raleway', sans-serif !important;
    font-size: 50px !important;

}